@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0px;
}
.App{
    min-height: 100vh;
    display: flex;
    background-image: url(../public/background.png);
    background-size: cover;
    background-position: center;
}
.error{
    font-size: 12px;
    color: red;
}

/* login screen css */
.login-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form{
    padding: 50px;
    background-color: white;
}
.login-title{
    text-align: center;
}

/* login screen ends */

/* admin user starts */
.admin-users{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.admin-user-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.admin-user-alert{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.admin-user-title{
    text-align: center;
    margin-bottom: 10px;
}

.admin-user-button{
    margin-right: 10px !important;
}

.admin-user-table{
    height: 70vh;
    overflow-y: auto;
}
.admin-table-edit-icon{
    cursor: pointer;
}
/* admin user ends */

/* home starts */
.home{
    width: 100%;
}
.home-chat-screen {
    display: flex;
    justify-content: space-between;
    height: 89vh;
    padding: 10px;
    border-width: 5px;
}
/* home ends */

/* sider drawer starts */
.side-drawer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px;

}
.side-drawer-middle-item{
    font-size: 24px;
}
/* side drawer ends */

/* mychats start */
.my-chats{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 22%;
    border-radius: 3px;
    margin-right: 10px;
    border-radius: 10px;
}
.my-chats-header{
    display: flex;
    width: 92%;
    padding-left: 16px;
    justify-content: space-between;
}
.my-chats-header p {
    font-size: 24px;
}
.my-chats-addgroup {
    cursor: pointer;
}
.my-chats-list{
    cursor: pointer;
}
/* .my-chats-list:hover {
    background-color: #eaeaea;
} */
.my-chats-list-selected{
    background-color: lightblue
}
.my-chats-nochats{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.my-chats-nochats span {
    font-size: 1.2rem;
    font-weight: 600;
}
.chat-group-dialog {
    width: 100%;
}
.chat-group-dialogcontent {
    width: 500px;
}
.chat-group-text {
    margin-bottom: 10px;
}
/* mychats end */

/* chatbox start */
.chat-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    width: 88%;
    background-color: white;
    border-radius: 10px;
}
.chat-box-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.chat-box-header-text{
    font-size: 24px;
}
.chat-box-chatarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #E8E8E8;
    width: 95%;
    height: 86%;
    overflow-y: hidden;
    border-radius: 10px;
    padding: 10px;
}
.chat-box-nochatselected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.chat-box-nochatselected p{
    font-size: 24px;
    padding-bottom: 3px;
}
/* chatbox ends */