@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0px;
}
.App{
    min-height: 100vh;
    display: flex;
    background-image: url(../public/background.png);
    background-size: cover;
    background-position: center;
}

/* login screen css */
.login-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form{
    padding: 50px;
    background-color: white;
}
.login-title{
    text-align: center;
}
.login-error{
    font-size: 12px;
    color: red;
}
/* login screen ends */